<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apple.dev.mapper.SysUserMapper">


    <update id="addBalance">
        update sys_user
        <set>
            balance = balance + #{addBalance},
            update_time = now()
        </set>
        <where>
            user_id = #{userId}
        </where>
    </update>

    <update id="subBalance">
        update sys_user
        <set>
            balance = balance - #{subBalance},
            update_time = now()
        </set>
        <where>
            user_id = #{userId} and  balance - #{subBalance} >= 0
        </where>
    </update>

</mapper>
